#detail-story {
  .detail-container {
    .thumb {
      img {
        box-shadow: 0px 0px 20px 10px rgba(139, 139, 139, 0.295);
        width: 100%;
        aspect-ratio: 4/3;
        border: 1px solid rgba(233, 156, 68, 0.664);
        border-radius: 8px;
        object-fit: cover;
      }
    }
    .main-info {
      padding: 12px;
      font-size: 1.2rem;
      i {
        color: rgba(0, 0, 0, 0.699);
      }
      h1 {
        font-size: 2rem;
        margin: 24px 0px;
        font-weight: bold;
        color: var(--primary-color);
      }
      strong {
        color: var(--primary-color);
      }
      p {
        font-size: 1rem;
      }
      ul {
        margin: 0;
        padding: 0;
        margin-bottom: 12px;
        li {
          display: inline-block;
        }
        li.title {
          margin-right: 12px;
          font-size: 1rem;
        }
        li.cate {
          padding: 2px 8px;
          font-size: 0.9rem;
          border-radius: 4px;
          color: var(--primary-color);
          border: 1px solid var(--primary-color);
          margin-left: 8px;
        }
      }
      button {
        padding: 10px 16px;
        background: white;
        border: 1px solid rgb(255, 65, 65);
        border-radius: 987654px;
        font-weight: bold;
        color: rgb(255, 65, 65);
        i {
          color: rgb(255, 65, 65);
        }
      }

      button:hover {
        background: rgb(241, 141, 141);
        color: white;
        border-color: white;
      }
      p.description {
        font-size: 1rem;
        margin-top: 12px;
        width: 100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        font-style: italic;
        text-indent: 16px;
      }
    }
    .chapter-list {
      margin-top: 32px;
      margin-bottom: 32px;
      .title {
        font-size: 1.8rem;
        font-weight: bold;
        color: var(--primary-color);
        margin-bottom: 16px;
        display: block;
      }
      ul {
        max-height: 400px;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: flex;
          padding: 4px 8px;
          border-bottom: 1px solid rgb(235, 235, 235);
          justify-content: space-between;
          font-size: 1.2rem;
          font-weight: bold;
          a:hover {
            color: var(--primary-color);
          }
          span {
            font-weight: normal;
            font-size: 1rem;
          }
        }
      }
    }
    .comment-wrapper {
      margin: 32px 0px;
      .title {
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--primary-color);
        margin-bottom: 16px;
        display: block;
        i {
          margin-right: 8px;
        }
      }
      .comment-input-container {
        position: relative;
        width: 50%;
        .comment-input {
          overflow: auto;
          width: 100%;
          padding: 9px 16px;
          padding-right: 100px;
          height: auto;
          resize: none;
          border: 1px solid var(--primary-color);
          border-radius: 25px;
          outline: none;
        }
        .comment-input::-webkit-scrollbar {
          display: none;
        }
        button {
          position: absolute;
          right: 8px;
          top: 8px;
          color: var(--primary-color);
          background: none;
        }
      }
      ul {
        margin: 0;
        padding: 0;
        margin-top: 32px !important;
        padding-left: 6px;
        width: 50%;
        li.comment-loading {
          width: 100%;
          text-align: center;
          img {
            width: 24px;
          }
        }
        li {
          list-style: none;
          position: relative;
          button.remove-btn {
            position: absolute;
            right: 0;
            color: rgb(241, 74, 74);
            background: none;
          }
          strong {
            color: rgb(82, 82, 245);
            display: block;
            margin-left: 4px;
          }
          p {
            padding: 8px 16px;
            background: rgb(240, 240, 240);
            display: inline-block;
            border-radius: 8px;
            min-height: 40px;
            font-size: .9rem;
          }
        }
      }
    }
  }
}
